/* Hover effects */
.card {
  transition: -webkit-transform 0.8s ease;
}
.card:hover {
  transform: scale(1.04, 1.04);
}

.nav {
  background-color: #004880 !important;
}
.card-body {
  background-color: #0371c5 !important;
}

body {
  background-color: #004880 !important;
  color: azure;
}

.card {
  border-color: #004880;
}

.nav-link {
  color: azure;
}
