/* Prevent image stretching is it's resized */
.card-img-top {
  object-fit: cover;
}

/* Make all cards in row the same height */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

/* Hover effects */
.card {
  transition: -webkit-transform 0.8s ease;
}
.card:hover {
  transform: scale(1.04, 1.04);
}

/* Responsive design for image heights */
@media screen and (min-width: 576px) {
  .card-img-top {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 20vw;
  }
}

@media only (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
}

.nav {
  background-color: #004880 !important;
}
.card-body {
  background-color: #0371c5 !important;
}

body {
  background-color: #004880 !important;
  color: azure;
}

.card {
  border-color: #004880;
}
